@{
    Layout = "_Layout.cshtml";
}

<h2>about!</h2>

<p>
    This is a very very simple blog that was designed using Nancy, a light weight web framework! If you are looking for something fancy here, 
    there isn't going to be anything at this point. However, there could soon be something here, so, keep watching !!!
</p>