@{
    Layout = "_Layout.cshtml";
}

<br/><br/><br/>
<div>tiny_Blog tried to find the page for you, but failed miserably... are you sure you have the correct url or are you just playing???</div>
<div style="text-align: center">
    <h1>404 :(</h1>
</div>
