@using Nancy.Demo.TinyBlog.Model
<!DOCTYPE html>
<html lang="en">
<head>
    <title>tiny_Blog</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../../Content/bootstrap.css" rel="Stylesheet" />
    <link href="../../Content/default.min.css" rel="Stylesheet" />
    
    <script src="../../Content/scripts/jquery.min.js"></script>
    <script src="../../Content/scripts/highlight.min.js"></script>
    <script src="../../content/scripts/bootstrap.js"></script>
    
    <script>
        $(document).ready(function () {
            hljs.tabReplace = '    ';
            hljs.initHighlightingOnLoad();
        });
    </script>

    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        
        .logo {
            font-weight: bolder;
            font-size: x-large;
            text-shadow: 1px 0px 0px #686868 , 0px 1px 0px #686868, -1px 0px 0px #686868, 0px -1px 0px #686868, 1px 4px 5px #aeaeae;
            text-decoration: none;
            color: black
        }

        .logo:hover {
            text-decoration: none;
            color: #51a351
        }
    </style>
    
</head>
<body>

    @Html.Partial("TopNav")

    <div class="container">
        <div class="row-fluid">
          <div class="span10">
            @RenderBody()
          </div>
          <div class="span2">
              @Html.Partial("Archives", MonthYearModel.GetBlogArchives())
              <br />
              @Html.Partial("Tags", TagModel.GetBlogTags())
          </div>
      </div>
    </div>
</body>
</html>
